In [47]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
Requirement already satisfied: requests>=2.26 in c:\users\rahul\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\rahul\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rahul\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rahul\anaconda3\lib\site-packages (from yfinance) (1.4.2)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\rahul\anaconda3\lib\site-packages (from yfinance) (3.4.8)
Collecting lxml>=4.9.1
  Downloading lxml-4.9.2-cp39-cp39-win_amd64.whl (3.9 MB)
Collecting pytz>=2022.5
  Using cached pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rahul\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp39-cp39-win_amd64.whl (35 kB)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\rahul\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\rahul\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.0)
Requirement already satisfied: pycparser in c:\users\rahul\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: webencodings in c:\users\rahul\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\rahul\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rahul\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rahul\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rahul\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rahul\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\rahul\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Installing collected packages: pytz, multitasking, lxml, html5lib, frozendict, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2021.3
    Uninstalling pytz-2021.3:
      Successfully uninstalled pytz-2021.3
  Attempting uninstall: lxml
    Found existing installation: lxml 4.8.0
    Uninstalling lxml-4.8.0:
      Successfully uninstalled lxml-4.8.0
Successfully installed frozendict-2.3.5 html5lib-1.1 lxml-4.9.2 multitasking-0.0.11 pytz-2022.7.1 yfinance-0.2.12

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.

In [129]:
import yfinance as yf
import pandas as pd

In [58]:
stock = yf.download("TSLA AAPL", start="2019-01-01", end="2019-12-31")

[*********************100%***********************]  2 of 2 completed

In [59]:
stock.head()

            Adj Close                 Close                  High             \
                 AAPL       TSLA       AAPL       TSLA       AAPL       TSLA
Date
2019-01-02  38.047043  20.674667  39.480000  20.674667  39.712502  21.008667
2019-01-03  34.257282  20.024000  35.547501  20.024000  36.430000  20.626667
2019-01-04  35.719696  21.179333  37.064999  21.179333  37.137501  21.200001
2019-01-07  35.640190  22.330667  36.982498  22.330667  37.207500  22.449333
2019-01-08  36.319614  22.356667  37.687500  22.356667  37.955002  22.934000

                  Low                  Open                Volume
                 AAPL       TSLA       AAPL       TSLA       AAPL       TSLA
Date
2019-01-02  38.557499  19.920000  38.722500  20.406668  148158800  174879000
2019-01-03  35.500000  19.825333  35.994999  20.466667  365248800  104478000
2019-01-04  35.950001  20.181999  36.132500  20.400000  234428400  110911500
2019-01-07  36.474998  21.183332  37.174999  21.448000  219111200  113268000
2019-01-08  37.130001  21.801332  37.389999  22.797333  164101200  105127500

In [84]:
stock_close['AAPL'][0] = 0

C:\Users\rahul\AppData\Local\Temp\ipykernel_26492\3812602814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock_close['AAPL'][0] = 0

In [85]:
stock_close

            AAPL         SPY  TSLA
Date
2019-01-02     0  250.179993     0
2019-01-03     0  244.210007     0
2019-01-04     0  252.389999     0
2019-01-07     0  254.380005     0
2019-01-08     0  256.769989     0
...          ...         ...   ...
2019-12-23     0  321.220001     0
2019-12-24     0  321.230011     0
2019-12-26     0  322.940002     0
2019-12-27     0  322.859985     0
2019-12-30     0  321.079987     0

[251 rows x 3 columns]

In [76]:
stock['Adj Close']['AAPL'][0] = 0

C:\Users\rahul\AppData\Local\Temp\ipykernel_26492\3162791916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stock['Adj Close']['AAPL'][0] = 0

In [111]:
def scrap_data(stock_names_abv,start_date,end_date):  #date: yyyy-mm-dd
    stock = yf.download(stock_names_abv, start=start_date, end=end_date)
    stock_close = stock['Close']
    if type(stock_close) == pandas.core.series.Series
    for i in range(stock_close.shape[0]):
        for j in stock_close.columns:
            if stock_close[j].isnull()[i] == True:
                missing_values_indices.append([i,j])
            else:
                pass
    if len(missing_values_indices) == 0:
        pass
    else:
        for i in missing_values_indices:
            stock_close.drop(i[0],axis=0,inplace=True)
    return stock_close

In [112]:
scrap_data("TSLA","2019-01-01","2020-12-31")

[*********************100%***********************]  1 of 1 completed

AttributeError: 'Series' object has no attribute 'columns'

In [88]:
for i in range(stock_close.shape[0]):
    for j in range(stock_close.shape[1]):
        if stock.iloc[i,j] == True:
            missing_values_indices.append([i,j])
        else:
            pass

In [128]:
if type(stock_close['AAPL']) == "pandas.core.series.Series":
    print("yes")
else:
    print("no")

no

In [124]:
type(stock_close['AAPL'])

pandas.core.series.Series